/* common css */
/* google font work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 98%;
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid black;
}