/* responsive web layout */
/* mobile layout views */
@media screen and (max-width: 576px) {
    
    /* top header styles */
    .top-header {
        flex-direction: column;
    }
    .logo {
        font-size: 35px;
        margin-bottom: 20px;
    }

    /* nav styles */
    .nav {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    /* banner area styles */
    .banner-text {
        width: 98%;
        margin: 80px auto 0;
    }
    .banner-title {
        font-size: 44px;
        line-height: 55px;
    }

    /* banner thumbnail styles */
    .banner-thumbnail {
        width: 100%;
    }
    .banner-image {
        height: 370px;
    }

}