/* css root variable  */
:root {
    --primary-color: #FF900E;
}

/* header area styles */
.header-area {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 0 45px;
}

/* top header styles */
.top-header {
    width: 98%;
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;    
    color: #131313;
}

/* nav styles */
.nav {
    display: flex;
    gap: 75px;
    list-style: none;
}
.nav-item a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

/* banner area styles */
.banner-area {
    width: 100%;
}
.banner-text {
    max-width: 862px;
    margin: 116px auto 0;
}
.banner-title {
    font-size: 64px;
    line-height: 75px;
    text-align: center;    
    color: #131313;
}
.banner-des {
    margin-top: 30px;
    line-height: 26px;
    text-align: center;    
    color: #727272;
}
.banner-btn {
    margin: 32px auto 50px;
}

/* banner thumbnail styles */
.banner-thumbnail {
    width: 100%;
}
.banner-image {
    width: 100%;
    height: 590px;
}

/* main area styles */
.main-area {
    width: 100%;
}

/* team section styles */
.team-area {
    margin-top: 85px;
}
.team-container {
    width: 96%;
    max-width: 1040px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* team images */
.team-image-area {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 15px;
    justify-content: space-between;
}
.team-image {
    height: auto;
}
/* team text */
.team-text-area {
    width: 500px;
}
.team-tx-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
    margin-bottom: 24px;
}
.black-color {
    font-weight: 700;    
    color: #131313;    
}
.primary-color {
    font-weight: 700;
    color: var(--primary-color);
}
.team-tx-des {    
    color: #727272;
    margin-bottom: 32px;
}

/* feature area styles */
.feature-area {
    width: 100%;
    margin-top: 130px;
}
.inner-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* feature text styles */
.feature-text-area {
    width: 525px;
}
.feature-tx-title {
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding: 0 21px;
    border-left: 5px solid var(--primary-color);
    margin-bottom: 24px;
}
.feature-tx-des {
    font-size: 16px;
    line-height: 26px;
    color: #727272;   
    margin-bottom: 30px; 
}
.feature-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}
.feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}
.feature-des {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* feature image styles */
.feature-image-area {
    width: 610px;
    height: 950px;
    position: relative;
}
.feature-thumbnail {
    width: 560px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.feature-image {
    width: 100%;
    height: 96%;
}
.button-area {
    position: absolute;
    left: 0;
    bottom: 0;
}
.feature-btn {
    text-align: center;
    text-decoration: none;
    display: block;
    width: 200px;
    padding: 20px 0;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.feature-btn .experience {
    display: block;
    font-weight: 500;
    font-size: 20px;
}

/* testimonial area styles */
.testimonial-area {
    width: 100%;
    margin-top: 130px;
}
.info-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;    
    color: #131313;
    margin-bottom: 14px;
}
.info-des {
    max-width: 542px;
    font-size: 16px;
    line-height: 26px;    
    color: #727272;
}

/* .testimonial items styles */
.testimonial-items {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.testimonial-item {
    text-align: center;
    width: 20%;
    padding: 25px 0 40px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}
@keyframes border-change {
    0% {
        border-color: var(--primary-color);
    }
    25% {
        border-color:  rgba(255, 144, 14, 0.1);;
    }
    75% {
        border-color: rgba(15, 121, 164, 0.861);
        background: rgba(241, 180, 67, 0.391);
    }
    100% {
        border-color: rgba(195, 132, 15, 0.863);
    }
}
.testimonial-item:hover {
    animation: border-change;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.test-image {
    width: 46px;
    height: 46px;
    transition: transform 1s;
}
.testimonial-item:hover .test-image {
    transform: scale(1.4);
}
.test-title {
    margin: 10px 0 5px;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}
.test-des {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}